@media(max-width:576px) {
    .alumnitext{
        font-size: 2vw !important;
        line-height: 2.1vw !important;
    }
}
body{
   background-color: #F5F1D2; 
}
h1{
    font-size: 5vw;
    font-family:Helvetica;
}
.para{
    font-size: 2vw;
    text-align: left;
    font-family: 'Open Sans'
}
.container-fluid{
    background-color: white;
}
button{
    width: 75% !important;
    background-color: #B09456;
    border-radius: 5px;
    text-align: center !important;
}
button#share{
    background-color: #7C041B !important;
}
.heading{
    background-color: #7C1D1D;
    color: white;
    height: 7vw;
    text-align: center;
}
.line{
    margin: auto;
    color: "#7C1D1D" !important;
    background-color: "#7C1D1D" !important;
    border-color: "#7C1D1D" !important;    
    width: 70%;
    height: 3px !important;
}
#bt{
    font-size: 2.6vw;
}
.alumnitext{
    display: block;
    font-size: 1.3vw;
    line-height: 1.5vw;
}
#nasscom{
    font-size: 3vw;
    text-align: center;
}
.follow{
    font-size: 3.2vw;
    color: #7C041B;
}
#alumtxt{
    font-size: 2.4vw;
    text-align: top;
    text-align: center;
}

@media(min-width:800px){
    .container-fluid{
        width: 800px !important;
    }
    h1{
        font-size: 30px !important;
    }
    .heading{
        height: 50px !important;
    }
    .para{
        font-size: 14px !important;
    }
    button{
        width: 200px !important;
    }
    #bt{
        font-size: 16px !important;
    }
    .alumnitext{
        font-size: 11px;
    }
    #nasscom{
        font-size: 16px;
    }
    .follow{
        font-size: 18px;
    }
    #alumtxt{
        font-size: 24px;
    }
}